<div class="grater grater-container">
  <div>
    <p>Shares gives you a simple overview of all the companies you have invested in. You can add new companies<span class="asterisk">*</span> or update existing investments in one easy step.  Quickly tap to see more information for each company.</p>
    <p>Shares quickly answers "How much money has my portfolio made me?" with one quick glance.</p>
    <p>Simply your gains, at a glance.</p>
    <p class="app-store"><%= app_store_button %></p>
    <p class="disclaimer">* Not all countries are available. Stock data from Yahoo!.</p>
  </div>
  <div>
    <div class="iphone">
      <video width="320" height="568" poster="/assets/screencast-poster@2x.png" autoplay loop preload muted>
        <source src="https://sharesapp.s3.amazonaws.com/assets/videos/screencast.mp4"  type="video/mp4; codecs=avc1.42E01E,mp4a.40.2">
        <source src="https://sharesapp.s3.amazonaws.com/assets/videos/screencast.webm" type="video/webm; codecs=vp8,vorbis">
        <source src="https://sharesapp.s3.amazonaws.com/assets/videos/screencast.ogv"  type="video/ogg; codecs=theora,vorbis">
      </video>
    </div>
  </div>
</div>

<% content_for :javascripts do %>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="/assets/home.js"></script>
<% end %>
