<div class="grater grater-container">
  <div>
    <p>Shares gives you a simple overview of all the companies you have invested in. You can add new companies* or update existing investments in one easy step.  Quickly tap to see more information for each company.</p>
    <p>Shares quickly answers "How much money has my portfolio made me?" with one quick glance.</p>
    <p>Simply your gains, at a glance.</p>
    <p class="app-store"><%= app_store_button %></p>
    <p class="disclaimer">*Not all countries are available. Stock data from Yahoo!.</p>
  </div>
  <div>
    <div class="iphone">
      <div id="screenshots">
        <img alt="Shares Screenshot" src="/assets/screenshot01.png" srcset="/assets/screenshot01@2x.png 2x">
        <img alt="Shares Screenshot" src="/assets/screenshot02.png" srcset="/assets/screenshot02@2x.png 2x">
        <img alt="Shares Screenshot" src="/assets/screenshot03.png" srcset="/assets/screenshot03@2x.png 2x">
        <img alt="Shares Screenshot" src="/assets/screenshot04.png" srcset="/assets/screenshot04@2x.png 2x">
      </div>
    </div>
  </div>
</div>

<% content_for :javascripts do %>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="/assets/home.js"></script>
<% end %>
