<div id="main" role="main">
  <div class="iphone-holder"></div>
  <div class="what">
    <p>Some copy about the awesomeness of the app go here.</p>

    <ol>
      <li>Find &amp; add companies you’ve invested in</li>
      <li>Add your shares</li>
      <li>See your gain/loss at a glance</li>
      <li>Buy your friends a beer… or have them buy you one!</li>
    </ol>
  </div>
  <div class="tweetment">
    <h3>What people are <strike>saying</strike> Tweeting about <strong>Shares</strong></h3>
    <blockquote class="twitter-tweet"><p>Recreated an iPhone using CSS3/HTML and the file size is 1.5x bigger than a .png of an iPhone compressed through ImageAlpha. <a href="https://twitter.com/search/%2523pngftw">#pngftw</a></p>&mdash; Josh Brewer (@jbrewer) <a href="https://twitter.com/jbrewer/status/179768952170364929" data-datetime="2012-03-14T03:20:32+00:00">March 14, 2012</a></blockquote>
    <blockquote class="twitter-tweet"><p>Zynga is planning an offering of additional shares to avoid lock-up selloff | <a href="http://t.co/8LCw7hhW" title="http://bloom.bg/zurFZR">bloom.bg/zurFZR</a> $ZNGA</p>&mdash; Bloomberg News (@BloombergNews) <a href="https://twitter.com/BloombergNews/status/179651802692730880" data-datetime="2012-03-13T19:35:02+00:00">March 13, 2012</a></blockquote>
    <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
