<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Shares</title>
    <link rel="me" href="http://www.google.com/profiles/samsoffes" />
    <link href="/style.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    Coming soon.
    <script type="text/javascript">var _gauges=_gauges||[];(function(){var t=document.createElement('script');t.async=true;t.id='gauges-tracker';t.setAttribute('data-site-id','4f59b56af5a1f55b6d00001d');t.src='//secure.gaug.es/track.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(t, s);})();</script>
  </body>
</html>
