<div id="main" role="main">
  <p class="tagline">Because sometimes you don’t need a 10 page report to know if you should buy the next round!</p>
  <p class="cta"><span class="unicode">✍</span> sign up & get notified when we hit the app store!</p>
  <form action="" class="signup">
    <input type="email" />
    <span class="placeholder">Your email address</span>
    <button>Notify me!</button>
  </form>
</div>
