<!-- <h1>The easiest way to get a pulse on your investments.</h1>
<p>Shares gives you a simple overview of all the companies you have invested in. You can add new companies* or update existing investments in one easy step.  Quickly swipe to see more information for each company. Simply your gains, at a glance.</p>
<p>*Shares currently only works with publicly traded companies on the US Stock Exchange.</p>
<p><a href="https://itunes.apple.com/app/shares/id495399233?partnerId=30&amp;siteID=gCug0Bwa2R0" class="button" target="_blank">Download Shares Now</a></p> -->

<section>
<div class="grater grater-container">
  <div>
    <p>Shares gives you a simple overview of all the companies you have invested in. You can add new companies* or update existing investments in one easy step.  Quickly swipe to see more information for each company. Simply your gains, at a glance.</p>
    <p class="disclaimer">*Shares currently only works with publicly traded companies on the US Stock Exchange.</p>
    <p><%= app_store_button %></p>
  </div>
  <div>
    <div class="iphone">
      <img src="/assets/screenshot01.png" alt="Shares Screenshot">
    </div>
  </div>
</div>
</section>
