<section id="main" role="main">

  <h1>The easiest way to get a pulse on your investments.</h1>

  <ul class="features">
    <li>Get an overview of all the companies you have invested in.</li>
    <li>Swipe to view more details.</li>
    <li>Add new companies or update existing investiments in one easy step.</li>
    <li>Updated against the Such and Such Stock stuff place daily.</li>
  </ul>

  <p class="disclaimer">Shares currently only works with Publicly Traded companies on the US Stock Market.</p>

</section>

<section class="buzz">
  <h3>What people are <strike>saying</strike> Tweeting about <strong>Shares</strong></h3>
  <blockquote class="twitter-tweet">
    <p>Recreated an iPhone using CSS3/HTML and the file size is 1.5x bigger than a .png of an iPhone compressed through ImageAlpha. <a href="https://twitter.com/search/%2523pngftw">#pngftw</a></p>&mdash; Josh Brewer (@jbrewer) <a href="https://twitter.com/jbrewer/status/179768952170364929" data-datetime="2012-03-14T03:20:32+00:00">March 14, 2012</a></blockquote>
  <blockquote class="twitter-tweet"><p>Zynga is planning an offering of additional shares to avoid lock-up selloff | <a href="http://t.co/8LCw7hhW" title="http://bloom.bg/zurFZR">bloom.bg/zurFZR</a> $ZNGA</p>&mdash; Bloomberg News (@BloombergNews) <a href="https://twitter.com/BloombergNews/status/179651802692730880" data-datetime="2012-03-13T19:35:02+00:00">March 13, 2012</a></blockquote>
  <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</section>

<div class="mailinglist-form">
  <p class="cta">Join our mailing list to get the latest information on our products.</p>
  <form action="http://nothingmagical.createsend.com/t/j/s/qyuky/" method="post" class="signup" id="mailinglist" name="signup">
    <input type="email" name="cm-qyuky-qyuky" id="qyuky-qyuky" value="Your email address" />
    <button>Join</button>
  </form>
</div>
