<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Shares App</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="/style.css">

  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if lte IE 8 ]>
    <style type="text/css">
      a {
        color: #787c7b;
      }
      .seal img{
        width: 80px;
        height: 80px;
      }
      #container {
        background: url(images/pattern.png);
        width: 37.5em;
        padding: 0 3.75em;
      }
      .signup input + .placeholder,
      #container .placeholder {
        position: relative;
        top: -2.75em;
      }
    </style>
  <![endif]-->
  <!--[if IE9 ]>
    <style>
    .signup button:before {
      border:0;
    }
    </style>
  <![endif]-->
    <!-- [ if IE ]>
    <style>
    .signup button:before {
      border: 0;
    }
      </style>
  <![endif]-->

</head>

<body>

  <div id="container">
    <header>
      <h1 class="branding">Shares <span class="forios">for iOS</span><span class="seal"><img src="images/seal.png" alt="" ></span></h1>
      <h2>Your gains, at a glance</h2>
    </header>


    <%= yield %>

    <footer>
      <p class="copyright">
        &copy;2012 — Brought to you by Sam Soffes &amp; Josh Brewer.
        <a href="#" class="contact">Contact Us</a>
      </p>
    </footer>
  </div> <!--! end of #container -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <script src="js/css_browser_selector.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('input').focus(function(){
        var newValue = $(this).val();
        if($(this).val() == 'Your email address'){
          $(this).attr('value','');
        } else {
          $(this).val(newValue);
        }
      });

      $('input').blur(function(){
        var newValue = $(this).val();
        if($(this).val() == ''){
          $(this).attr('value','Your email address');
        } else {
          $(this).val(newValue);
        }
      });
    });
  </script>
  <script type="text/javascript">var _gauges=_gauges||[];(function(){var t=document.createElement('script');t.async=true;t.id='gauges-tracker';t.setAttribute('data-site-id','4f59b56af5a1f55b6d00001d');t.src='//secure.gaug.es/track.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(t, s);})();</script>
</body>
</html>
