<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Shares App</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="/style.css">

  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>

<body>

  <div id="container">

    <header>

      <h1 class="branding">Shares <span class="forios">for iOS</span></h1>

      <h2>Your gains, at a glance</h2>

      <a href="" class="app-store">Available on the iPhone app store</a>

    </header>

    <%= yield %>

    <footer>

      <p class="copyright">
        &copy;2012 — Brought to you by <a href="http://samsoff.es" rel="external nofollow" target="_blank">Sam Soffes</a> &amp; <a href="http://jbrewer.me" rel="external nofollow" target="_blank">Josh Brewer</a>.
        <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%73%61%6d@%67%65%74%73%68%61%72%65%73%61%70%70.%63%6f%6d" class="contact">Contact</a>
      </p>

    </footer>

  </div> <!--! end of #container -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
  <script type="text/javascript">
    // form label script
    $(document).ready(function(){
      $('input').focus(function(){
        var newValue = $(this).val();
        if($(this).val() == 'Your email address'){
          $(this).attr('value','');
        } else {
          $(this).val(newValue);
        }
      });

      $('input').blur(function(){
        var newValue = $(this).val();
        if($(this).val() == ''){
          $(this).attr('value','Your email address');
        } else {
          $(this).val(newValue);
        }
      });
    });
    // add screenshots if tablet or bigger
    if (document.documentElement.clientWidth > 600) {
      var aside = document.createElement('aside');
      document.getElementById('main').appendChild(aside);
      var fone = document.createElement('img');
      fone.src = '../images/iphone.png';
      fone.class = 'iphone';
      aside.appendChild(fone);
      var storeLink = document.createElement('a');
      storeLink.href = "http://itunes.apple.com/store/sharesapp";
      storeLink.class = "app-store"
      aside.appendChild(storeLink);
    }
  </script>
  <script>
    /* Normalized hide address bar for iOS & Android (c) Scott Jehl, scottjehl.com MIT License */
    (function( win ){
      var doc = win.document;

      // If there's a hash, or addEventListener is undefined, stop here
      if( !location.hash && win.addEventListener ){

        //scroll to 1
        window.scrollTo( 0, 1 );
        var scrollTop = 1,
          getScrollTop = function(){
            return win.pageYOffset || doc.compatMode === "CSS1Compat" && doc.documentElement.scrollTop || doc.body.scrollTop || 0;
          },

          //reset to 0 on bodyready, if needed
          bodycheck = setInterval(function(){
            if( doc.body ){
              clearInterval( bodycheck );
              scrollTop = getScrollTop();
              win.scrollTo( 0, scrollTop === 1 ? 0 : 1 );
            }
          }, 15 );

        win.addEventListener( "load", function(){
          setTimeout(function(){
            //at load, if user hasn't scrolled more than 20 or so...
            if( getScrollTop() < 20 ){
              //reset to hide addr bar at onload
              win.scrollTo( 0, scrollTop === 1 ? 0 : 1 );
            }
          }, 0);
        } );
      }
    })( this );
  </script>
  <script type="text/javascript">var _gauges=_gauges||[];(function(){var t=document.createElement('script');t.async=true;t.id='gauges-tracker';t.setAttribute('data-site-id','4f59b56af5a1f55b6d00001d');t.src='//secure.gaug.es/track.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(t, s);})();</script>
</body>
</html>
