<div class="grater-container">
  <h3>Press</h3>

  <p>For press inquiries, please contact <a href="mailto:press@sharesapp.com">press@sharesapp.com</a>. Stay up to date on Shares news by following us on <a href="https://twitter.com/sharesapp" rel="external nofollow">Twitter</a>.</p>

  <h4>Press Kit</h4>
  <p>The Shares press kit includes Shares app icon, iPhone screenshots, and Nothing Magical logo.</p>

  <p><strong><a href="http://sharesapp.s3.amazonaws.com/Shares%20Press%20Kit.zip" rel="external nofllow">Download Press Kit</a></strong>

  <ul class="press-coverage">
    <li>
      <p><strong>CNN Money:</strong> <a href="http://money.cnn.com/gallery/pf/2013/12/11/best-financial-apps/13.html" rel="external nofollow">15 best financial sites and apps</a></p>
      <blockquote>The app isn't cluttered with charts. It's easy to use, attractively designed, and most of all, it gets you the information quickly.</blockquote>
      <p>&mdash; Adrian Covert, CNN Money</p>
    </li>
    <li>
      <p><strong>iDownload Blog:</strong> <a href="http://www.idownloadblog.com/2013/10/09/shares-2/" rel="external nofollow">Shares 2 offers a ridiculously simple way to track your stocks</a></p>
      <blockquote>Shares 2 gives you a simple and elegant view of the companies you’ve invested in, plus gives you an overview of how much money you’ve made or lost overall.</blockquote>
      <p>&mdash; Lory Gil, iDownload Blog</p>
    </li>
    <li>
      <p><strong>AppAdvice:</strong> <a href="http://appadvice.com/appnn/2013/10/todays-best-apps-spin-vidness-and-shares-2" rel="external nofollow">Today's Best Apps: Spin, Vidness, Shares 2 And More</a></p>
      <blockquote>Beautifully complimenting the iOS 7 experience, this stock portfolio tracking tool provides a sleek and simple way to actually monitor your investments.</blockquote>
      <p>&mdash; Caset Tschida, AppAdvice</p>
    </li>
  </ul>
</div>
