<section>
  <h1>Have a problem? We're here to help!</h1>
  <p class="valueprop">Just <a href="mailto:support@getsharesapp.com">email us</a> and we'll get you taken care of!</p>
  <p class="buy"><a href="http://itunes.com/apps/shares" class="button">Buy Shares for just $0.99</a></p>
</section>
