<div id="main" role="main">
  <p class="tagline">Have a problem? We're here to help!</p>
  <p class="cta">Just <a href="mailto:support@getsharesapp.com">email us</a> and we'll get you taken care of!</p>
</div>