<div class="grater-container">
  <h3>Support</h3>

  <h4>How do I add stocks from non-US markets?</h4>
  <p>Simply prefix them like you do in the system stocks app. For example if you wanted to add Amcom Telecom in Austrailia, you'd enter <code>AMM.AX</code>.</p>

  <h4>Can I enter partial shares?</h4>
  <p>Sure! Just use the decimal on the keypad when entering the quantity.</p>

  <h4>What stock exchanges are supported?</h4>
  <p>Shares supports most major stock exchanges. If you'd like to see an exchange supported that currently isn't and it works in Yahoo! Finance, please <a href="mailto:support@getsharesapp.com?subject=Please add support for a new exchange">let us know</a> and we'll get it added! Here's the full list of exchanges Shares supports:</p>
  <ul class="list">
    <li>New York Stock Exchange</li>
    <li>NASDAQ Stock Market</li>
    <li>NASDAQ Global Market</li>
    <li>London Stock Exchange</li>
    <li>Euronext</li>
    <li>Hong Kong Stock Exchange</li>
    <li>Shanghai Stock Exchange</li>
    <li>Toronto Stock Exchange</li>
    <li>Frankfurt Stock Exchange</li>
    <li>Australian Securities Exchange</li>
    <li>SIX Swiss Exchange</li>
    <li>BM&amp;F Bovespa</li>
    <li>Korea Exchange</li>
    <li>Shenzhen Stock Exchange</li>
    <li>Moscow Exchange</li>
    <li>Singapore Exchange</li>
    <li>Taiwan Stock Exchange</li>
    <li>Copenhagen Stock Exchange</li>
    <li>Berlin Stock Exchange</li>
    <li>Stuttgart Stock Exchange</li>
    <li>München Stock Exhange</li>
    <li>Düsseldorf Stock Exhange</li>
    <li>OTC Markets</li>
    <li>Jakarta Stock Exchange</li>
  </ul>

  <h4>What curriences do you support?</h4>
  <p>Shares supports 314 different curriences! All curriences conversion data is from <a href="http://openexchangerates.org" rel="external nofollow">Open Exchange Rates</a> and it updated automatically every hour. Here's the <a href="https://openexchangerates.org/currencies" rel="external nofollow">full list of supported currencies</a> Shares supports.</p>

  <h4>Why isn't there artwork for some companies?</h4>
  <p>All of the artwork in Shares is handpicked so you only see high quality stuff. If there's anything you'd like to see added, please <a href="mailto:support@getsharesapp.com?subject=Please add artwork for another company">let us know</a> and we'll do our best to add it. Be sure to include the company's symbol like you would type it in Shares.</p>

  <h4>My question wasn't answered. Help!</h4>
  <p>Just <a href="mailto:support@getsharesapp.com">email us</a> and we'll get you taken care of!</p>
</div>
