<section>
  <h1>Have a problem? We're here to help!</h1>
  <p class="valueprop">Just <a href="mailto:support@getsharesapp.com">email us</a> and we'll get you taken care of!</p>
  <p class="valueprop"><em>Shares is free for a limited time!</em></p>
  <p class="buy"><a href="http://itunes.com/apps/samsoffes/shares" class="button">Get Shares Now</a></p>
</section>
