<div class="grater-container">
  <h3>Support</h3>

  <h4>How do I add stocks from non-US markets?</h4>
  <p>Simply prefix them like you do in the system stocks app. For example if you wanted to add Amcom Telecom in Austrailia, you'd enter <code>AMM.AX</code>.</p>

  <h4>My question wasn't answered. Help!</h4>
  <p>Just <a href="mailto:support@getsharesapp.com">email us</a> and we'll get you taken care of!</p>
</div>
