/*
green: #247d2d
blue: #24577e
tan: #e8e4d8
*/

@font-face {
  font-family: 'bebas-neue';
  src: url('/fonts/BebasNeue-webfont.eot');
  src: local('☺'),
         url('/fonts/BebasNeue-webfont.woff') format('woff'), url('fonts/BebasNeue-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: #1d1d1d;
  color: #999;
  font: normal 16px/1.5 Georgia, "Times New Roman", serif;
  text-shadow: 0 1px 1px #111;
}

img {
  max-width: 100%;
}

a {
  color: #507998;
  text-decoration: none;
  text-shadow: none;
  border-bottom: 1px dotted;
  -webkit-box-sizing: padding-box;
     -moz-box-sizing: padding-box;
          box-sizing: padding-box;
}

a:hover {
  color: #24577e;
  border-bottom: 1px solid;
}

.app-store,
.app-store:hover {
  border-bottom: 0;
}

h1, h2, h3, h4 {
  font-family: "alternate-gothic-no-3-d","HelveticaNeue-CondensedBold", "Helvetica Neue", "Arial Narrow", Arial, sans-serif;
}

h1 {
  color: #24577e;
  color: #ccc;
  font-size: 2.25em;
}

/* basic layout */
#container {
  width: 100%;
  max-width: 73em;
  padding: 0 5%;
  margin: 0 auto;
  background: rgb(29,29,29);
  background:     -moz-radial-gradient(center, ellipse cover,  rgba(45,45,45,1) 0%, rgba(29,29,29,1) 75%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(45,45,45,1)), color-stop(100%,rgba(29,29,29,1))); /* Chrome,Safari4+ */
  background:  -webkit-radial-gradient(center, ellipse cover,  rgba(45,45,45,1) 0%,rgba(29,29,29,1) 75%); /* Chrome10+,Safari5.1+ */
  background:       -o-radial-gradient(center, ellipse cover,  rgba(45,45,45,1) 0%,rgba(29,29,29,1) 75%); /* Opera 12+ */
  background:      -ms-radial-gradient(center, ellipse cover,  rgba(45,45,45,1) 0%,rgba(29,29,29,1) 75%); /* IE10+ */
  background:          radial-gradient(center, ellipse cover,  rgba(45,45,45,1) 0%,rgba(29,29,29,1) 75%); /* W3C */
}

header {
  position: relative;
  padding: 1em 0;
    background: rgba(29,29,29,1);
  border-bottom: 3px double #333;
}

header h1 {
  margin: 0;
  font-family: "bebas-neue", "HelveticaNeue-CondensedBold", "Arial Narrow", Arial, sans-serif;
  line-height: 1.5;
}

header h2 {
  margin: -0.7em 0 0;
  font-size: 1.25rem;
}

header h1 {
  line-height: 1.375;
}

header h2 {
  margin: -0.7em 0 0;
  font-size: 1.25rem;
  color: #777;
}

header img {
  margin-right: 0.5em;
  float: left;
}

.app-store {
  background: url(/images/appstorebadge_trans.png) no-repeat 0 0;
  width: 174px;
  height: 57px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

header .app-store {
  position: absolute;
  right: 0;
  top: 1.15em;
}

#main h1 {
  line-height: 1.1;
  font-size: 2.25em;
  width: 92%;
  margin-bottom: 0.5em;
  letter-spacing: 0.04em;
  color: #ccc;
}

.disclaimer {
  padding-top:0;
  margin-top:0;
  margin-bottom:2.5em;
  font-size: 0.75em;
  font-style: italic;
  color: #777;
  text-shadow: none;
}

.iphone {
  position: relative;
  height: 530px; /* Ugh. This needs to be fixed. */
}

.iphone img {
  position: relative;
  max-width: 80%;
  z-index: 100;
}

.screens {
  position: absolute;
  left: 0;
  top: 0;
  z-index:1;
}

.buy {
  margin: 2em 0 4em;
}

.button {
  padding: 0.75em;
  color: #ddd;
  border: 0;
  background-color: #24577e; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #507998 0%, #24577e 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#507998), color-stop(100%,#24577e)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #507998 0%,#24577e 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #507998 0%,#24577e 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #507998 0%,#24577e 100%); /* Opera 11.10+ */
  background-image: linear-gradient(top, #507998 0%,#24577e 100%); /* W3C */
  font-family: "HelveticaNeue-CondensedBold", "Arial Narrow", Arial, sans-serif;
  font-size: 1.25em;
  text-shadow: 0 1px 0 #214f73;
  -webkit-border-radius: 0.375em;
     -moz-border-radius: 0.375em;
          border-radius: 0.375em;
  -webkit-box-shadow: 0 1px 1px #191919;
     -moz-box-shadow: 0 1px 1px #191919;
          box-shadow: 0 1px 1px #191919;
  -webkit-background-clip: padding-box;
}

.button:hover {
  background: #24577e;
  border: 0;
  color: #fff;
}

.button:active {
  background: #1a3e59;
}

.buzz {
  margin: 1em 0;
}

blockquote {
  margin:0;
  font-style: italic;
}

blockquote p {
  margin-bottom: 0;
}

blockquote footer {
  text-align: right;
  padding-top: 0;
}

footer {
  padding: 1em 0;
  font-size: 0.75rem;
}

@media all and (min-width: 37.5em) {
  body {
    font-size: 16px;
  }
  
  #container {
    max-width: 64em;
  }
  
  #main {
    position: relative;
    width: 55%;
    margin-left:45%;
    min-height: 47em;
  }
  
  #main h1 {
    font-size: 3.25em;
    width: 90%;
    margin-bottom: 0.5em;
  }
  
  .valueprop {
    font-size: 1.25em;
  }
  
  aside {
    width: 75%;
    margin-left: -83%;
    position: absolute;
    top: 0em;
  }
  
  .iphone img {
    max-width: 100%;
  }
  
  .iphone {
    width: 100%;
    height: 100%;
  }
  
  header h1 {
    line-height: 1.375;
  }
  
  header h2 {
    margin: -0.7em 0 0;
    font-size: 1.25rem;
    color: #777;
  }
}
