/*
green: #247d2d
blue: #24577e
tan: #e8e4d8
*/

@font-face {
  font-family: 'bebas-neue';
  src: url('fonts/BebasNeue-webfont.eot');
  src: local('☺'),
         url('fonts/BebasNeue-webfont.woff') format('woff'), url('fonts/BebasNeue-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: #1d1d1d;
  color: #999;
  /*font: normal 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font: normal 14px/1.5 Georgia, "Times New Roman", serif;
  text-shadow: 0 1px 1px #111;
}

img {
  max-width: 100%;
}

a {
  color: #507998;
  text-decoration: none;
  text-shadow: none;
  border-bottom: 1px dotted;
  -webkit-box-sizing: padding-box;
     -moz-box-sizing: padding-box;
          box-sizing: padding-box;
}

a:hover {
  color: #24577e;
  border-bottom: 1px solid;
}
.app-store,
.app-store:hover {
  border-bottom: 0;
}

h1, h2, h3, h4 {
  font-family: "HelveticaNeue-CondensedBold", "Arial Narrow", Arial, sans-serif;
}
h1 {
  color: #24577e;
  color: #ccc;
  font-size: 2.25em;
}

/* basic layout */
#container {
  width: 100%;
  max-width: 73em;
  padding: 0 5%;
  margin: 0 auto;
  background: rgb(29,29,29);
  background:     -moz-radial-gradient(center, ellipse cover,  rgba(45,45,45,1) 0%, rgba(29,29,29,1) 75%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(45,45,45,1)), color-stop(100%,rgba(29,29,29,1))); /* Chrome,Safari4+ */
  background:  -webkit-radial-gradient(center, ellipse cover,  rgba(45,45,45,1) 0%,rgba(29,29,29,1) 75%); /* Chrome10+,Safari5.1+ */
  background:       -o-radial-gradient(center, ellipse cover,  rgba(45,45,45,1) 0%,rgba(29,29,29,1) 75%); /* Opera 12+ */
  background:      -ms-radial-gradient(center, ellipse cover,  rgba(45,45,45,1) 0%,rgba(29,29,29,1) 75%); /* IE10+ */
  background:          radial-gradient(center, ellipse cover,  rgba(45,45,45,1) 0%,rgba(29,29,29,1) 75%); /* W3C */
}

header {
  position: relative;
  padding: 1em 0;
    background: rgba(29,29,29,1);
  border-bottom: 3px double #333;
}
header h1 {
  margin: 0;
  font-family: "bebas-neue", "HelveticaNeue-CondensedBold", "Arial Narrow", Arial, sans-serif;
  line-height: 1.5;
}
header h2 {
  margin: -0.7em 0 0;
  font-size: 1.25rem;
}
header img {
  margin-right: 0.5em;
  float: left;
}

footer {
  padding: 1em 0;
  font-size: 0.75rem;
}

.disclaimer {
  padding-top:0;
  margin-top:0;
  margin-bottom:2.5em;
  font-size: 0.75em;
  font-style: italic;
  color: #777;
  text-shadow: none;
}

.app-store {
  background: url(../images/appstorebadge_trans.png) no-repeat 0 0;
  width: 174px;
  height: 57px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

header .app-store {
  position: absolute;
  right: 0;
  top: 1.15em;
}

.buy {
  margin: 2em 0 4em;
}

/* buy button */
.button {
  padding: 0.75em;
  color: #ddd;
  border: 3px solid #222;
  background-color: #24577e; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #507998 0%, #24577e 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#507998), color-stop(100%,#24577e)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #507998 0%,#24577e 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #507998 0%,#24577e 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #507998 0%,#24577e 100%); /* Opera 11.10+ */
  background-image: linear-gradient(top, #507998 0%,#24577e 100%); /* W3C */
  font-family: "HelveticaNeue-CondensedBold", "Arial Narrow", Arial, sans-serif;
  font-size: 1.25em;
  text-shadow: 0 1px 0 #214f73;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.08);
     -moz-box-shadow: 0 1px 0 rgba(255,255,255,.08);
          box-shadow: 0 1px 0 rgba(255,255,255,.08);
  -webkit-border-radius: 0.5em;
     -moz-border-radius: 0.5em;
          border-radius: 0.5em;
  -webkit-background-clip: padding-box;
}
.button:hover {
  background: #24577e;
  border: 3px solid #222;
  color: #fff;
}
.button:active {
  background: #1a3e59;
}
.button em {
  font-style: normal;
  font-size:1.25em;
}


#main h1 {
  line-height: 1.1;
  font-size: 2.25em;
  width: 92%;
  margin-bottom: 0.5em;
  letter-spacing: 0.04em;
  color: #ccc;
}

.buzz {
  margin: 1em 0;
}

blockquote {
  margin:0;
  font-style: italic;
}
blockquote p {
  margin-bottom: 0;
}
blockquote footer {
  text-align: right;
  padding-top: 0;
}

/* mailing list signup form */
.mailinglist-form {
  clear: both;
  margin: 1em auto;
}
.signup {
  position: relative;
  width: 100% margin:  0 auto;
}

.signup input {
  margin: 0 auto;
  width: 80%;
  padding: 1em;
  background: #33383c;
  border: 1px solid #1a1a1a;
  font-style: normal;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #e6e2d6;
  outline: 0;
}

.signup button {
  display: block;
  position: relative;
  width: 7em;
  margin: 1.375em auto;
  padding: 0.6em 0.5em 0.25em;
  color: #bcbeb9;
  cursor: pointer;
  font-family: "bebas-neue";
  font-size: 1.25em;
  letter-spacing: 0.1em;
  text-align: center;
  background: none;
  border: 1px solid rgba(255,255,255,0.7);
}
.win.chrome .signup button,
.win.gecko .signup button {
  padding-top: 0.25em;
}

.signup button:before {
  position: absolute;
  top: -0.25em;
  left: 0.175em;
  right: 0.175em;
  bottom: -0.25em;
  content: "";
  border: 1px solid rgba(255,255,255,0.9);
  z-index:-1;
}
.win.ff3_6 .signup button:before {
  border: 0;
  -moz-box-shadow: none;
}

.signup button:hover,
.signup button:hover:before {
  -webkit-transition: all .1s ease-in-out;
     -moz-transition: all .1s ease-in-out;
       -o-transition: all .1s ease-in-out;
      -ms-transition: all .1s ease-in-out;
          transition: all .1s ease-in-out;
  -webkit-box-shadow: 0 0 15px rgba(255,255,255,0.4);
     -moz-box-shadow: 0 0 15px rgba(255,255,255,0.4);
          box-shadow: 0 0 15px rgba(255,255,255,0.4);
}

.signup button:hover:before {
  top: -0.25em;
  left: -0.25em;
  right: -0.25em;
  bottom: -0.25em;
}

@media all and (min-width: 37.5em) {
  body {
    font-size: 16px;
  }
  #container {
    max-width: 64em;
  }
  #main {
    position: relative;
    width: 55%;
    margin-left:45%;
    min-height: 47em;
  }
  #main h1 {
    font-size: 3.25em;
    width: 90%;
    margin-bottom: 0.5em;
  }
  .valueprop {
    font-size: 1.25em;
  }
  aside {
    width: 75%;
    margin-left: -83%;
    position: absolute;
    top: 0em;
  }
  .iphone-fade {

  }
  .iphone {
    width: 100%;
    height: 100%;
    position: relative;
  }
  header h1 {
    line-height: 1.375;
  }
  header h2 {
    margin: -0.7em 0 0;
    font-size: 1.25rem;
    color: #777;
  }

}




