$avenir-light: 'Avenir LT W01 35 Light', 'HelveticaNeue-Light', Helvetica, sans-serif;
$avenir-medium: 'Avenir LT W01 65 Medium', 'HelveticaNeue', Helvetica, sans-serif;
$avenir-heavy: 'Avenir LT W01 85 Heavy', 'HelveticaNeue-Bold', Helvetica, sans-serif;

$green-color: #59d56e;
$red-color: #d55456;
$blue-color: #67a7f7;
$dark-text-color: #777;
$light-text-color: #c3c3c3;
$link-color: $blue-color;
$highligh-color: #fdffb6;

$width: 640px;
