@import "bourbon";
@import "globals/*";
@import "components/reset";
@import "grater";

html {
  -webkit-font-smoothing: antialiased;
}

::selection {
  color: #fff;
  background: rgb(83, 215, 105);
}

body {
  font-family: 'Whitney A', 'Whitney B';
  font-weight: 400;
  font-size: 20px;
  color: #555;
  line-height: 1.4em;
}

p, ul {
  margin-bottom: 1.4em;
}

p.disclaimer {
  color: $light-text-color;
  font-size: 0.8em;
}

strong {
  font-weight: 700;
}

span.asterisk {
  color: $light-text-color;
}

a {
  color: $link-color;
  text-decoration: none;
}

mark {
  background-color: $highligh-color;
  padding: 2px;
  box-shadow: $highligh-color 0 0 5px;
}

code {
  font-family: Courier, monospace;
}

ul.list {
  padding-left: 1.4em;

  li {
    list-style: disc;
  }
}

h3 {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 0.5em;
}

h4 {
  font-weight: 700;
  font-size: 22px;
  color: #999;
}

@import "components/layout";
@import "components/iphone";
@import "components/press";

a.app-store {
  width: 186px;
  height: 55px;
  display: inline-block;

  img {
    width: 100%;
    height: 100%;
  }
}

@media #{$grater-small-media-query} {
  p.app-store {
    text-align: center;
  }
}
